body {
    font-weight: 300;
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    font-family: -apple-system-font, sans-serif;
    background-color: #F1F1F1;
}

.dark{
    display:none;
  }



/**************** Link Style ********************/

a{
    color: #4a525a;
}

/**************** Misc. Style ********************/



.well{
    border: 1px solid #DDD;
    background: #F1F1F1;
    padding: 20px;
    border-radius: 6px;
}


.module-margin{
    margin: 20px 0px;
}

.video-player{
    padding: 3px;
    border: 1px solid #DDD;
    float: right;
}

h1, h2, h4, h5, h6{
    font-weight: 300;
    font-family: -apple-system-font, sans-serif;
    margin: 0px;
    font-size: 3.5em;
}

h2 a{
    text-decoration: none;
  font-family: Baskerville;
}
h3{
 font-weight: 300;
    font-family: -apple-system-font, sans-serif;
    margin: 0px;
    font-size: 2em;
}


/**************** Inner Page- Page Name style ********************/
.page-name{
    color: #444;
}

.page-name h1, .page-name h2, .page-name h3, .page-name h4, .page-name h5, .page-name h6{
    margin-bottom: 0px;
}




/**************** Media Queries ********************/

 @media (max-width: 1080px) {
   

@media (prefers-color-scheme: dark) {
  body{
    background-color: #0E0E0E;
    color: #F1F1F1;
  }
  a{
    color: #3E78B2
  }
  .dark{
    display: block;
  }
  .light{
    display:none;
  }
}